* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

a {
    border: solid 3px white;
    border-radius: 2.25em;
    font-size: 1em;
    background-color: white;
    font-family: helvetica;
    padding: 8px 28px;
}

main {
    padding: 0 21px;
}




/*header*/

header {
    display: block;
    background-color: white;
}


.icons {
    padding: 0.3em 1em;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.icons li{
    padding: 1em;

}

.icons img {
    width: 1.5em;
    justify-content: center;
}



.logo {
    width: 4em;
    padding: 0 1em;
}

.navbalk {
    display: flex;
    justify-content: space-between;
}

.icons li:hover{
    border-radius: 2em;
    background: #f5f5f5;
    
}

nav {

}


/*section1*/

section:nth-of-type(1){
    font-size: 0.8em;
    background-color: #f5f5f5;
    padding: 1em;
    text-align: center;
    font-family: helvetica;
    font-weight: 500;
    
}

/*section2*/

section:nth-of-type(2) article {
    position: relative;
    background-image: url(../images/section2_img.jpg);
    background-size: cover;
    height: 500px;
}


main section:nth-of-type(2) p {
    position: absolute;
    width: 100%;
    color: white;
    font-size: 1em;
    top: 11em;
    left: 2em;
    font-family: helvetica;
}

main section:nth-of-type(2) h1 {
    color: white;
    font-family: "Futura";
    font-size: 3em;
    position: absolute;
    top: 4em;
    line-height: 1;
    padding-left: 0.5em;
}


section:nth-of-type(2) ul {
    position: absolute;
    display: flex;
    top: 27em;
    left: 1.3em;
}

section:nth-of-type(2) a {
    font-size: 1em;
}

section:nth-of-type(2) a:last-of-type {
    margin-left: 0.1em;
}

/*section3*/


section:nth-of-type(3) ul {
    display: flex;
    justify-content: space-between;
    margin-top: 5em;
    margin-bottom: 2em;
}

section:nth-of-type(3) h1 {
    font-size: 1.5em;
    font-family: helvetica;
    color: black;
    font-weight: 500;
}

section:nth-of-type(3) h2 {
    font-size: 1em;
    margin-top: 0.5em;
    font-family: helvetica;
    color: black;
    font-weight: 500;

}

section:nth-of-type(3) img {
    width: 300px;
}

section:nth-of-type(3) article {
    margin-top: 0.5em;
}

section:nth-of-type(3) h3 {
    font-size: 1em;
    font-family: helvetica;
    color: black;
    padding: 0.3em;
    font-weight: 500;
}

.slider1 {
    display:flex;
    overflow-x: auto;
}
.slideritem:first-of-type{
    padding-left: 0;
}

.slideritem {
    padding-left: 1em;
}


/*section4*/

section:nth-of-type(4) h1 {
    display: block;
    margin-top: 5em;
    margin-bottom: 2em;
    font-size: 1.5em;
    font-family: helvetica;
    color: black;
    font-weight: 500;
}

section:nth-of-type(4) article:nth-of-type(1) {
    position: relative;
    background-image: url(../images/manvrouwnike.jpg);
    background-size: cover;
    height: 500px;
}


section:nth-of-type(4) article:nth-of-type(1) p {
    position: absolute;
    left: 1.5em;
    top: 18em;
    color: white;
    font-size: 1.3em;
    font-family: helvetica;
}


section:nth-of-type(4) article:nth-of-type(1) a {
    position: absolute;
    top: 27em;
    left: 1.5em;
}

section:nth-of-type(4) article:nth-of-type(2) {
    position: relative;
    margin-top: 0.5em;
    background-image: url(../images/yoganike.jpg);
    background-size: cover;
    height: 500px;
}


section:nth-of-type(4) article:nth-of-type(2) p {
    position: absolute;
    left: 1.5em;
    top: 18em;
    color: white;
    font-size: 1.3em;
    font-family: helvetica;
}

section:nth-of-type(4) article:nth-of-type(2) a {
    position: absolute;
    top: 27em;
    left: 1.5em;
}


/*section5*/

section:nth-of-type(5) {
    display: block;
}

section:nth-of-type(5) h1 {
    font-size: 24px;
    margin-top: 3em;
    margin-bottom: 1em;
    font-family: helvetica;
    color: black;
    font-weight: 500;
}

section:nth-of-type(5) img {
    width: 300px;
}

section:nth-of-type(5) article {
    margin-top: 0.5em;
}

section:nth-of-type(5) h2 {
    font-size: 1em;
    font-family: helvetica;
    color: black;
    padding: 0.3em;
    font-weight: 500;
}

.slider2 {
    display:flex;
    overflow-x: auto;
}


/*section6*/

section:nth-of-type(6) {
    display: block;
}

section:nth-of-type(6) article {
    position: relative;
    background-image: url(../images/oudenikes.webp);
    background-size: cover;
    height: 500px;
}

section:nth-of-type(6) h1 {
    font-size: 24px;
    margin-top: 3em;
    margin-bottom: 1em;
    font-family: helvetica;
    color: black;
    font-weight: 500;
}


section:nth-of-type(6) p {
    position: absolute;
    width: 100%;
    color: black;
    font-size: 0.8em;
    top: 24em;
    font-family: helvetica;
    padding-left: 3em;
    font-weight: 500;
}

section:nth-of-type(6) h2 {
    position: absolute;
    top: 10em;
    color: black;
    font-family: futura;
    font-size: 2em;
    padding-left: 1em;
}


section:nth-of-type(6) ul {
    position: absolute;
    top: 27em;
    left: 1.5em;
    display: flex;
    align-content: space-between;
}

section:nth-of-type(6) a {
    background-color: black;
    color: white;
    border: solid 3px black;
    margin-left: 0.5em;
}


/*section7*/

section:nth-of-type(7) {
    display: block;
}

section:nth-of-type(7) h1 {
    display: block;
    margin-top: 5em;
    margin-bottom: 2em;
    font-size: 1.5em;
    font-family: helvetica;
    color: black;
    font-weight: 500;
}

section:nth-of-type(7) article:nth-of-type(1) {
    position: relative;
    background-image: url(../images/thisisthrash.webp);
    background-size: cover;
    height: 500px;
}


section:nth-of-type(7) article:nth-of-type(1) p {
    position: absolute;
    left: 1.5em;
    top: 18em;
    color: black;
    font-size: 1.3em;
    font-family: helvetica;
}


section:nth-of-type(7) article:nth-of-type(1) a {
    position: absolute;
    top: 27em;
    left: 1.5em;
    color: white;
    background: black;
    border: solid 3px black;
}

section:nth-of-type(7) article:nth-of-type(2) {
    margin-top: 0.5em;
    position: relative;
    background-image: url(../images/yogachinees.webp);
    background-size: cover;
    height: 500px;
}

section:nth-of-type(7) article:nth-of-type(2) p {
    position: absolute;
    left: 1.5em;
    top: 18em;
    color: black;
    font-size: 1.3em;
    font-family: helvetica;
}

section:nth-of-type(7) article:nth-of-type(2) a {
    position: absolute;
    top: 27em;
    left: 1.5em;
    color: white;
    background: black;
    border: solid 3px black;
}

////////////
/*section8*/
////////////

section:nth-of-type(8) {
    display: block;
}

section:nth-of-type(8) .geslacht{
    display: grid;
    overflow-x: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5em;
}

section:nth-of-type(8) article {
    position: relative;
    background-size: scale;
    height: 375px;
    width: 300px;
}

section:nth-of-type(8) .heren {
   background-image: url(../images/basketballer.webp);
}

section:nth-of-type(8) .dames {
   background-image: url(../images/basketballer.webp);
}

section:nth-of-type(8) .kids {
   background-image: url(../images/basketballer.webp);
}

section:nth-of-type(8) h1 {
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 24px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
    font-weight: 400;
}


section:nth-of-type(8) a {
    position: absolute;
    top: 19.5em;
    left: 1.5em;
    background: white;
    border: solid 3px white;
}

section:nth-of-type(9) {
    margin-top: 5em;
    margin-bottom: 2em;
}

section:nth-of-type(9) h2 {
    padding: 1em 0;
    font-size: 1em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
    font-weight: 500;
}

footer {
    background-color: black;
    height: 300px;
}

/*mediaqueries*/

@media (min-width:480px) {
    section:nth-of-type(2) article {
        background-image: url(../images/zwangerevrouwen.jpg);
        object-fit: cover;
        position: relative;
    }

}

@media (min-width:590px) {
    section:nth-of-type(6) article {
        background-image: url(../images/maninjurk.webp);
        height: 220px;
        object-fit: cover;

    }

    section:nth-of-type(6) p {
        position: absolute;
        width: 100%;
        color: black;
        font-size: 1em;
        top: 4em;
        font-family: helvetica;
        padding-left: 2.2em;
        font-weight: 500;
    }

    section:nth-of-type(6) h2 {
        position: absolute;
        top: 2.7em;
        color: black;
        font-family: futura;
        font-size: 2em;
        padding-left: 1em;
    }


    section:nth-of-type(6) ul {
        position: absolute;
        top: 10.5em;
        left: 1.5em;
        display: flex;
        align-content: space-between;
    }
}

@media (min-width:640px) {
    .grid1 {
        display: grid;
        grid-gap: 1.2em;
        grid-template-columns: 1fr 1fr;
    }

    section:nth-of-type(4) article:nth-of-type(2) {
        margin-top: 0;

    }

    @media (min-width:640px){
        section:nth-of-type(2) article{
        height: 550px;
        }
        
    }
    
    @media (min-width:640px) {
        .grid2 {
            display: grid;
            grid-gap: 1.2em;
            grid-template-columns: 1fr 1fr;
        }

        section:nth-of-type(7) article:nth-of-type(2) {
            margin-top: 0;

        }
    }

    @media (min-width:700px) {
        section:nth-of-type(6) article {
            background-image: url(../images/maninjurk.webp);
            height: 300px;
            object-fit: cover;
        }

        section:nth-of-type(6) p {
            position: absolute;
            width: 100%;
            color: black;
            font-size: 1em;
            top: 7em;
            font-family: helvetica;
            padding-left: 2.2em;
            font-weight: 500;
        }

        section:nth-of-type(6) h2 {
            position: absolute;
            top: 4em;
            color: black;
            font-family: futura;
            font-size: 2em;
            padding-left: 1em;
        }


        section:nth-of-type(6) ul {
            position: absolute;
            top: 14em;
            left: 1.5em;
            display: flex;
            align-content: space-between;
        }

    }

    @media (min-width:1000px) {
        section:nth-of-type(6) article {
            background-image: url(../images/maninjurk.webp);
            height: 400px;
            object-fit: cover;

        }

        section:nth-of-type(6) p {
            position: absolute;
            width: 100%;
            color: black;
            font-size: 1em;
            top: 7em;
            font-family: helvetica;
            padding-left: 2.2em;
            font-weight: 500;
        }

        section:nth-of-type(6) h2 {
            position: absolute;
            top: 1.5em;
            color: black;
            font-family: futura;
            font-size: 4.5em;
            padding-left: 0.4em;
        }


        section:nth-of-type(6) ul {
            position: absolute;
            top: 19em;
            left: 1.5em;
            display: flex;
            align-content: space-between;
        }
    }
    

